.navbar{
    z-index: 999;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 88px;;
    padding: 0rem;
    background-color: #fff;
    box-shadow: 0px 1px 3px 0px rgba(0,0,0,0.15);
    .navbar-brand{
        padding-left: 2rem;
        margin-right: 0;
    }
}
.navbar-nav{
    line-height: 4.5;
    .nav-item{
        a.nav-link{
            color: #000;
            padding-right: 1.5rem;
            @media only screen and (max-width: 575px) {
                padding-right: 0;
            }
        }
        &.nav-profile{
            
            .avatar{
                float: left;
                width: 60px;
                height: 60px;
                border-radius: 30px;
                margin: 0.4rem 0.6rem 0 0;
                background-color: #000;
                background-position: center;
                background-size: cover;
                @media only screen and (max-width: 575px) {
                    float: none;
                    margin: auto;
                }
            }
        }
        &.nav-redeem{
            background-color: #ec2828;
            &:hover{
                background-color: #191919;    
            }
            a.nav-link{
                color: #fff;
                padding-left: 1.25rem;
                padding-right: 1.25rem;
                @media only screen and (max-width: 575px) {
                    padding-left: 0;
                }
            }
        }
    }
    .dropdown-item{
        line-height: 2rem;
        &:hover{
            color: #ec2828;
        }
        @media only screen and (max-width: 575px) {
            text-align: center;
            
        }
    }
    .dropdown-toggle .fas{
        font-size: 1.3rem;
        position: relative;
        top: 3px;
    }
    .dropdown-toggle::after{
        display: none;
    }
}
.navbar-dark .navbar-nav .show > .nav-link, 
.navbar-dark .navbar-nav .active > .nav-link, 
.navbar-dark .navbar-nav .nav-link.show, 
.navbar-dark .navbar-nav .nav-link.active {
    color: #333;
}
.navbar-dark .navbar-nav .nav-link:hover, 
.navbar-dark .navbar-nav .nav-link:focus {
    color: #ec2828;
}
.navbar-toggler{
    padding: 1.5rem;
    height: 88px;;
}

.navbar-dark .navbar-toggler-icon{
    background-color: #ec2828;
    width: 88px;
    height: 88px;
    border-radius: 0;
    background-image: none;
    position: absolute;
    top:0;
    right: 0;
    .fas{
        color: #fff;
        line-height: 88px;
        font-size: 2rem
    }
}
.navbar-collapse{
    background-color: #fff;
}
.navbar-collapse.collapse.show,
.navbar-collapse.collapsing{
    .nav-item{
        line-height: 3;
        text-align: center;
        border-top: solid 1px #ec2828;
    }
}

.dropdown-item.active, 
.dropdown-item:active{
    background-color: #fff;
    color: #ec2828;
}

// POLL TOOLBAR
.poll-toolbar{
    background-color: #272c2e;
    padding: 1rem 0;
    .btn,
    select{    
        height: 44px;
        border-radius: 24px !important;
    }
    select{
        background-color: #191919;
        border: solid 2px #191919;
        color: #fff !important;
        height: 46px;
    }
    .btn{
        width: 100%;
        color: #fff;
        &-red{
            background-color: #ec2828 !important;
            border: solid 2px #ec2828;
        }
        &-outline{
            background-color: transparent !important;
            border: solid 2px #fff;
        }
    }
}

.nav-login-mobile{
    display: none;
    position: absolute;
    right: 0;
    top: 0;
    height: 88px;
    line-height: 88px;
    padding: 0 2rem;
    background-color: #ec2828;
}


#page-wrap{
    padding-top: 88px;
    height: 100%; overflow: auto;
}

/* Position and sizing of burger button */
.profile-point-mobile{
    width: auto;
    height: 88px;
    position: fixed;
    top: 0;
    right: 88px;
    z-index: 1000;
    line-height: 73px;
    color: #000;
    padding: 0.5rem;
    @media (min-width: 576px){
        display: none!important;
    }
    .avatar{
        float: right;
        width: 60px;
        height: 60px;
        border-radius: 30px;
        margin: 0.4rem 0.6rem 0 0.6rem;
        background-color: #000;
        background-position: center;
        background-size: cover;
    }
}
.bg-burger-menu{
    width: 88px;
    height: 88px;
    position: fixed;
    top: 0;
    right: 0;
    background-color: #ec2828;
    z-index: 1000;
    @media (min-width: 576px){
        display: none!important;
    }
}
.bm-burger-button {
    position: fixed;
    width: 28px;
    height: 28px;
    right: 30px;
    top: 30px;
    @media (min-width: 576px){
        display: none!important;
    }
    button{
        top: 0px !important;
        left: 0px !important;
        padding: 44px !important;
    }
  }
   
  /* Color/shape of burger icon bars */
  .bm-burger-bars {
    background: #fff;
    opacity: 1 !important;
  }
   
  /* Position and sizing of clickable cross button */
  .bm-cross-button {
    height: 300px;
    width: 88px;
    top: 0 !important;
    left: 0 !important;
    span{
        top: 1rem !important;
        left: 1.27rem !important;
    }
    button{
        left: 0 !important;
        top: 0 !important;
        width: 290px!important;
        height: 60px!important;
    }
  }
   
  /* Color/shape of close button cross */
  .bm-cross {
    background: #fff;
    right: 0px !important;
    height: 24px !important;
  }
   
  /* General sidebar styles */
  .bm-menu-wrap{
      right: -10px !important;
  }
  .bm-menu {
    background: #ec2828;
    padding: 5.5rem 10px 0 0;
    font-size: 1.15em;
    -webkit-box-shadow: -7px 0px 13px 0px rgba(0,0,0,0.25);
-moz-box-shadow: -7px 0px 13px 0px rgba(0,0,0,0.25);
box-shadow: -7px 0px 13px 0px rgba(0,0,0,0.25);
  }
   
  /* Morph shape necessary with bubble or elastic */
  .bm-morph-shape {
    fill: #373a47;
  }
   
  /* Wrapper for item list */
  .bm-item-list {
    color: #fff;
  }
   
  /* Individual item */
  .bm-item {
    display: block;
    line-height: 3;
    padding-left: 2rem;
    font-size: 1.25rem;
  }
   
  /* Styling of overlay */
  .bm-overlay {
    background: rgba(0, 0, 0, 0.3);
  }


  .nav-sidebar{
      color: #fff;
      text-align: center;
  }