.redeem{
    color: #fff;
    &-header{
        text-align: center;
        padding: 1rem 0;
        .user-avatar{
            margin: 0 auto 1rem;
            width: 128px;
            height: 128px;
            border-radius: 64px;
            background-position: center;
            background-size: cover;
        }
        .user-name{
            h4{
                margin: 0;
                font-weight: 700;
            }
        }
        .user-poin{
            &-total{
                font-size: 3rem;
                line-height: 1;
                font-weight: 700;
            }
        }
        .user-email{
            margin-bottom: 1rem;
        }
        .user-badge{
            font-size: 4rem;
            img{
                width: 96px;
            }
        }
    }

    &-prizes{
        margin-top: 3rem;
        .card{
            border: none;
            margin-bottom: 1.3rem;
            &-poin{
                color:#f26522;
                font-weight: 700;
                line-height: 2.2;
                // float: left;
                // width: auto;
                // height: 50px;
                // border-radius: 38px;
                // background-color: #f26522;
                // text-align: center;
                // font-size: 2rem;
                // line-height: 1.5;
                // padding: 0 1rem;
                // font-style: italic;
                // font-weight: 700;
                // color: #fff;
                small{
                    position: relative;
                    line-height: 0.9;
                    font-weight: 300;
                }
            }
            &-checkbox{
                float: right;
                width: 50px;
                height: 50px;
                .checkbox {
                    width: 50px;
                    height: 50px;;
                    padding: 0;
                    label{
                        padding: 0;
                        &::before{
                            width: 50px;
                            height: 50px;
                            left: -14px;
                            top: -10px;
                            margin-left: 0;
                            border: solid 3px #f26522;
                            border-radius: 25px;
                            background-color: #000;
                        }
                        &::after {
                            width: 50px;
                            height: 50px;
                            left: -14px;
                            top: -10px;
                            margin-left: 0;
                            padding-left: 0;
                            padding-top: 0px;
                            font-size: 36px;
                            color: #fff;
                            text-align: center;
                        }
                    }
                    &.checkbox-danger {
                        input[type="checkbox"]:checked + label::before{
                            border-color: #ec2828;
                        }
                    }
                }
            }
            &-header{
                text-align: center;
                color: #000;
                padding: 1rem;
                h5{
                    text-transform: uppercase;
                    font-weight: 700;
                    margin: 0;
                }
            }
            &-footer{
                overflow: hidden;
            }
        }

        .card-columns-footer{
            .btn{
                display: block;
                width: 300px;
                margin: 2rem auto;
            }
        }
    }

    .modal {
        color: #000;
    }
}


#modalRedeem{
    .fas{
        font-size: 7rem;
        color: #ec2828;
    }
}

.redeem {

    .table-dark{
        background-color: transparent;
    }

    .table-responsive{
        background: #fff;
        color: #000;
        border-radius: 0.25rem;
        padding: 1.5rem 3rem 1rem;
        @media only screen and (max-width: 575px) {
            padding: 0;
            font-size: 0.75rem;
        }
    }
    .table thead th{
        border-top: none;
    }
    .table thead th{
        &.th-date{
            width: 110px;
        }
        &.th-prize{
            width: 40%;
        }
        &.th-poin{
            min-width: 20%;
        }
        &.th-image{
            width: 10%;
        }
    }
    .table tr{
        cursor: pointer;
        &:hover{
            background-color: #f1f1f1;
            -webkit-box-shadow: 0px 3px 3px 0px rgba(0,0,0,0.25);
            -moz-box-shadow: 0px 3px 3px 0px rgba(0,0,0,0.25);
            box-shadow: 0px 3px 3px 0px rgba(0,0,0,0.25);
            .btn-dark{
                background-color: #ec2828;
                border-color: #ec2828;
            }
        }
    }
    .table a{
        color: #000;
        &:hover{
            color: #f26522;
        }
    }
}
